@charset "UTF-8";
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
/* Body */
@media (max-width: 1558px){
}
body {
	font-family: 'Montserrat';
	font-size: 20px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 800px;
	background-color: #FFFFFF;
}

.container2 {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 750px;
	background-color: #FFFFFF;
}

header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 20%;
	margin: auto;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	width: 50px;
	height: 40px;
}

nav {
	float: right;
	width: 50%; /* Ubicación botones de navegación en el espacio nav*/
	text-align: right; /* Alineacion del texto */
	margin-right: 25px; /* Espacio desde la margen derecha */
}
header nav ul {
	list-style: none; /* Quitar formato de lista */
	float: right; /* Alineacion de botones */
}
nav ul li { /* Propiedades barra de navegación */
	float: left;
	color: #FFFFFF;
	font-size: 15px;
	text-align: left;
	margin-right: 30px;
	letter-spacing: 1px;
	font-weight: bold;
	transition: all 0.3s linear;
}

h4 a { /* Categoria */
	color: #AD6EE5; /* Color fuente */
	text-decoration: none; /* Quitar subrayado de links */
}

ul li a { /* Categoria */
	color: #000000; /* Color fuente */
	text-decoration: none; /* Quitar subrayado de links */
}

li:hover a {
	color: #AD6EE5; /* Color botones de navegación al poner el puntero */
}

/* Bloque de footer */

.footer_banner {
	background-color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0px;
	text-align: center;
	margin-top: 0px;

}

.footer_text{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #FFFFFF;
	color: #000;
	font-weight: 100;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-size: 12px;
}

.fa {
  padding: 0px;
  font-size: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 0px 0px;
  color: #A6E56E;
  background-color: #FFFFFF;
}

/* Bloque de copyright */
.copyright {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000000;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-size: 12px;
}

/* Bloque de nombre y slogan */

.proy {
	padding-top: 9%;  /* Pixeles hacia arriba */
	padding-bottom: 9%; /* Pixeles hacia abajo */
	background-image: url('./assets/team.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.proy2 {
	padding-top: 16.5%;  /* Pixeles hacia arriba */
	padding-bottom: 17%; /* Pixeles hacia abajo */
	padding-left: 10%; /* Pixeles hacia abajo */
	padding-right: 10%; /* Pixeles hacia abajo */
	background-image: url('./assets/team.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.proy_header { /* Bloque para el nombre */
	color: #AD6EE5; /* Color de palabra A */
	text-align: center; /* Alineacion del texto */
	margin-top: 0px; /* Margen */
	margin-right: 0px; /* Margen */
	margin-bottom: 0px; /* Margen */
	margin-left: 0px; /* Margen */
	letter-spacing: 4px; /* Espaciado entre letras */
}
.proy_header2 { /* Bloque para el nombre */
	color: #FFFFFF; /* Color de palabra A */
	text-align: center; /* Alineacion del texto */
	margin-top: 0px; /* Margen */
	margin-right: 0px; /* Margen */
	margin-bottom: 0px; /* Margen */
	margin-left: 0px; /* Margen */
	letter-spacing: 4px; /* Espaciado entre letras */
}

.lixon {
	font-weight: bold; /* Grosor fuente para palabra ectM */
	color: #A6E56E; /* Color palabra LIXON */
}

.logo-home {
	width: 95%;
	margin: auto;
	text-align: center;
}

.logo-home img {
	width: 25%;
}



h2 {
	text-align: center;
	font-size: 35px;
}

.border {
	border: 1px solid black;
}

.info-about {
	padding: 0 30px 0 30px;
}

.info-about p {
	text-align: justify;
	font-size: 18px;
}

.container-images img {
	width: 70%;
}

.image {
	background-color: #A6E56E;
	border-radius: 50%;
	height: 220px;
	width: 220px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	flex-direction: column;
}

/* contact */

.p-contact {
	text-align: center;
	font-size: 20px;
	margin-bottom:30px;
}

.form-contact {
	padding: 40px;
}

.input {
	padding: 13px;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
	background-color: #A6E56E45;
	font-size: 16px;
}


.info-contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-form {
	display: flex;
	flex-direction: column;
	justify-content: center;

}

::placeholder {
	color: rgba(0, 0, 0, 0.603);
}

h3 {
	margin: 0;
}

.galeria{
	margin-top: 10px;  /* Pixeles hacia arriba */
	padding-bottom: 15%; /* Pixeles hacia abajo */
	background-position: center;
	position: static;
}

div.gallery {
	margin-top: 3%;
	margin-bottom: 0%;
	margin-right: 4%;
	margin-left:  4%;
	border: 0px solid #FFFFFF;
	float: left;
	width: 16%;
	align-content: center;

}
   
div.gallery img {
	width: 100%;
	height: 125px;
}
  
div.desc {
	font-size: 20px;
	padding: 5px;
	text-align: center;
}

.button {
  background-color: #AD6EE5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #AD6EE5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.container5 {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 0px;
}

span.rgt {
  text-align: center;
  padding-top: 8px;
}


/*Grid about */
* {
    box-sizing: border-box;
}

.container-grid{
    width: 95%;
    margin:auto;
}

.row{
    display: flex;  
    width: 100%;
    text-align: center;  
    flex-wrap: wrap; 
    justify-content: center;
}

.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 12.5%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}

/* login */

.button {
	background-color: #A6E56E;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }
  
  input[type=text], input[type=password], input[type=email]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
  
  button {
	background-color: #A6E56E;
	color: white;
	padding:14px;
	margin:8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
  }
  
  button:hover {
	opacity: 0.8;
  }
  
  .container5 {
	padding: 16px;
  }
  
  span a{
	  text-decoration: none;
	  text-align: right;
	  float: right;
	  padding-top: 0px;
	  font-size: 15px
  }
  
  span.rgt {
	  text-align: right;
	  float: right;
	  padding-top: 8px;
	  font-size: 15px
		  
		  
  }
  
  .rememberme{
	  font-size: 12px;
  
  }
  
  .container-grid{
	  width: 100%;
	  margin:auto;
  }
  
  .row{
	  display: flex;  
	  width: 100%;
	  text-align: left;  
	  flex-wrap: wrap; 
	  justify-content: left;
  }
  
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}
  
  @media only screen and (min-width: 768px) {
	  /* For desktop: */
	  .col-lg-1 {width: 8.33%;}
	  .col-lg-2 {width: 16.66%;}
	  .col-lg-3 {width: 25%;}
	  .col-lg-4 {width: 33.33%;}
	  .col-lg-5 {width: 41.66%;}
	  .col-lg-6 {width: 50%;}
	  .col-lg-7 {width: 58.33%;}
	  .col-lg-8 {width: 66.66%;}
	  .col-lg-9 {width: 75%;}
	  .col-lg-10 {width: 83.33%;}
	  .col-lg-11 {width: 91.66%;}
	  .col-lg-12 {width: 100%;}
	}
  
  .card col-md-7 mx-auto mt-4{
	  background-color: #A6E56E;
  }
  
  
  .formulario {width: 30%;
  }
  
  .header2 {
	  display: flex;
	  justify-content: space-between;
	  width: 100%;
	  height: 45px;
	  margin: auto;
	  background-color: #AD6EE5;
	  color: #AD6EE5;
  }
  
  .fa2 {
	padding: 10px;
	width: 100px;
	height: 20px;	
	text-align: center;
	text-decoration: none;
	margin: 0px 0px;
	color: #ffffff;
  }
  
  
  .copyright {
	  text-align: center;
	  padding-top: 5px;
	  padding-bottom: 5px;
	  background-color: #000000;
	  color: #FFFFFF;
	  text-transform: uppercase;
	  font-weight: 100;
	  letter-spacing: 2px;
	  border-top-width: 2px;
	  font-size: 12px;
  }

